@media(min-width: 972px){
    header img {
        border-right: none;
    }
}

*{
    margin: 0px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
}

header img{
    border-right: 3px solid black;
}

header div#title_string h1{
    margin: 50px 20px;
}

nav ul#menu_pag {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-color: #6a5345;
    color: white;
    justify-content: flex-start;
    margin: 0px;
}

nav ul li {
    padding: 10px 25px 10px 0px;
}

section {
    text-align: center;
}

section h2 {
    font-weight: bold;
    font-size: 30pt;
}

section table {
    /*display: grid;*/
    grid-template-columns: 200px;
    grid-template-rows: auto;
    border: 2px solid black;
    /*margin: 0px auto;
    width: 100%;
    height: 100%;
    margin: 0px auto;*/ 
}

section table tr{
    width: 100%;
    border: 1px solid red;

}

section table tr td{
    margin: 0px auto;
    padding:0px 100px;
}